agent_n8n/workflows/old/test_mistral_credential_working.json
{
  "name": "Test Mistral avec Credential N8N",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Test Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Préparation du payload Mistral avec validation\n// Utilise la clé MISTRAL_API_KEY_CURSOR_MCP_SERVER validée\n\nconst mistralPayload = {\n  model: \"mistral-small-latest\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"Analyse cette offre d'emploi : Titre: Alternance Cybersécurité chez TechCorp à Paris. Cette offre correspond-elle à une alternance en cybersécurité ? Réponds uniquement par: VALIDE ou INVALIDE\"\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 50\n};\n\nconsole.log('🧪 === PAYLOAD MISTRAL AVEC CREDENTIAL ===');\nconsole.log('✅ API Key: MISTRAL_API_KEY_CURSOR_MCP_SERVER (dans credential)');\nconsole.log('✅ Endpoint: https://api.mistral.ai/v1/chat/completions');\nconsole.log('✅ Model:', mistralPayload.model);\nconsole.log('📝 Prompt (preview):', mistralPayload.messages[0].content.substring(0, 60) + '...');\nconsole.log('📊 Taille payload:', JSON.stringify(mistralPayload).length, 'caractères');\n\n// Validation du payload\nif (!mistralPayload.model || !mistralPayload.messages || mistralPayload.messages.length === 0) {\n  console.log('❌ Payload invalide!');\n  throw new Error('Payload Mistral invalide');\n}\n\nconsole.log('✅ Payload validé - prêt pour envoi');\n\n// Retour du payload complet\nreturn {\n  json: mistralPayload\n};"
      },
      "id": "preparation-payload",
      "name": "Préparation Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "mistral-api",
      "name": "Mistral API avec Credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Analyse complète de la réponse Mistral\nconsole.log('🎯 === ANALYSE RÉPONSE MISTRAL ===');\nconsole.log('📊 Type de données reçues:', typeof $json);\nconsole.log('🔍 Propriétés disponibles:', Object.keys($json || {}));\n\n// Log de la réponse complète pour debugging\nconsole.log('📋 === RÉPONSE COMPLÈTE ===');\nconsole.log(JSON.stringify($json, null, 2));\n\n// Vérification de la structure standard OpenAI/Mistral\nif ($json && typeof $json === 'object') {\n  \n  // Cas 1: Réponse standard avec choices\n  if ($json.choices && Array.isArray($json.choices) && $json.choices.length > 0) {\n    const choice = $json.choices[0];\n    \n    if (choice.message && choice.message.content) {\n      const content = choice.message.content.trim();\n      \n      console.log('✅ === SUCCÈS ! ===');\n      console.log('📝 Réponse Mistral:', content);\n      \n      // Classification intelligente\n      const contentUpper = content.toUpperCase();\n      let classification;\n      let isValid;\n      \n      if (contentUpper.includes('VALIDE') && !contentUpper.includes('INVALIDE')) {\n        classification = 'VALIDE';\n        isValid = true;\n      } else if (contentUpper.includes('INVALIDE')) {\n        classification = 'INVALIDE';\n        isValid = false;\n      } else {\n        // Fallback si la réponse ne contient ni VALIDE ni INVALIDE\n        classification = 'INDÉTERMINÉ';\n        isValid = false;\n        console.log('⚠️  Réponse ambiguë - classification par défaut: INVALIDE');\n      }\n      \n      console.log('🔍 Classification finale:', classification);\n      console.log('⚡ Modèle utilisé:', $json.model || 'non spécifié');\n      \n      if ($json.usage) {\n        console.log('📈 Tokens utilisés:', JSON.stringify($json.usage));\n      }\n      \n      return {\n        json: {\n          success: true,\n          mistral_response: content,\n          classification: classification,\n          is_valid: isValid,\n          test_status: 'SUCCESS',\n          model_used: $json.model || 'mistral-small-latest',\n          usage: $json.usage || 'Non disponible',\n          api_method: 'credential_auth',\n          response_id: $json.id || 'non spécifié',\n          timestamp: new Date().toISOString()\n        }\n      };\n    } else {\n      console.log('❌ Message manquant dans la choice');\n      console.log('🔍 Structure de choice:', JSON.stringify(choice, null, 2));\n    }\n  }\n  \n  // Cas 2: Erreur API\n  else if ($json.error) {\n    console.log('🚨 === ERREUR API ===');\n    console.log('Type erreur:', $json.error.type || 'non spécifié');\n    console.log('Message erreur:', $json.error.message || 'non spécifié');\n    console.log('Code erreur:', $json.error.code || 'non spécifié');\n    \n    return {\n      json: {\n        success: false,\n        error: `API Error: ${$json.error.type || 'unknown'} - ${$json.error.message || 'no message'}`,\n        test_status: 'API_ERROR',\n        error_details: $json.error,\n        timestamp: new Date().toISOString()\n      }\n    };\n  }\n  \n  // Cas 3: Structure inattendue\n  else {\n    console.log('❌ Structure de réponse inattendue');\n    console.log('🔍 Clés trouvées:', Object.keys($json));\n  }\n} else {\n  console.log('❌ Réponse non-objet ou null');\n}\n\n// Fallback en cas d'échec\nconsole.log('❌ === ÉCHEC DE L\\'ANALYSE ===');\nreturn {\n  json: {\n    success: false,\n    error: 'Structure de réponse Mistral invalide ou inattendue',\n    test_status: 'FAILED',\n    received_data: $json,\n    data_type: typeof $json,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "analyse-reponse",
      "name": "Analyse Réponse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Test Manuel": {
      "main": [
        [
          {
            "node": "Préparation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparation Payload": {
      "main": [
        [
          {
            "node": "Mistral API avec Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral API avec Credential": {
      "main": [
        [
          {
            "node": "Analyse Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "test-mistral-credential-working",
      "name": "Credential Solution"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-05T06:45:00.000Z",
  "versionId": "5.0.0"
}