agent_n8n/workflows/old/test_mistral_simple_corrige.json
{
  "name": "Test Mistral Simple - Corrigé",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Test Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Données de test statiques\nconst testData = {\n  model: \"mistral-small-latest\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"Analyse cette offre d'emploi : Titre: Alternance Cybersécurité chez TechCorp à Paris. Cette offre correspond-elle à une alternance en cybersécurité ? Réponds uniquement par: VALIDE ou INVALIDE\"\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 10\n};\n\nconsole.log('🧪 Test Mistral - Données préparées:');\nconsole.log('Model:', testData.model);\nconsole.log('Prompt:', testData.messages[0].content.substring(0, 50) + '...');\n\nreturn {\n  json: {\n    model: testData.model,\n    messages_json: JSON.stringify(testData.messages),\n    temperature: testData.temperature,\n    max_tokens: testData.max_tokens,\n    ready: true\n  }\n};"
      },
      "id": "preparation-test",
      "name": "Préparation Test",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{ JSON.stringify({\n  \"model\": $json.model,\n  \"messages\": JSON.parse($json.messages_json),\n  \"temperature\": $json.temperature,\n  \"max_tokens\": $json.max_tokens\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "test-mistral",
      "name": "Test Mistral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Vérification du résultat\nconsole.log('🎯 Résultat Mistral reçu!');\nconsole.log('Type:', typeof $json);\nconsole.log('Has choices:', !!$json.choices);\n\nif ($json.choices && $json.choices[0]) {\n  const response = $json.choices[0].message.content;\n  console.log('✅ Réponse Mistral:', response);\n  console.log('✅ Test réussi!');\n  \n  return {\n    json: {\n      success: true,\n      mistral_response: response,\n      test_result: 'SUCCESS',\n      is_valid: response.toUpperCase().includes('VALIDE')\n    }\n  };\n} else {\n  console.log('❌ Erreur dans la réponse Mistral');\n  console.log('Réponse complète:', JSON.stringify($json, null, 2));\n  \n  return {\n    json: {\n      success: false,\n      error: 'No valid response from Mistral',\n      test_result: 'FAILED',\n      raw_response: $json\n    }\n  };\n}"
      },
      "id": "verification-resultat",
      "name": "Vérification Résultat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Test Manuel": {
      "main": [
        [
          {
            "node": "Préparation Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparation Test": {
      "main": [
        [
          {
            "node": "Test Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Mistral": {
      "main": [
        [
          {
            "node": "Vérification Résultat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "test-mistral-corrige",
      "name": "Test Mistral Corrigé"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-03T22:00:00.000Z",
  "versionId": "1.0.0"
}