agent_n8n/workflows/old/workflow_scraping_alternance_complet.json
{
  "name": "🔍 Scraping Alternance Cybersécurité - Complet",
  "nodes": [
    {
      "parameters": {},
      "id": "start-workflow",
      "name": "🚀 Démarrage",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sites-assignment",
              "name": "sites_emploi",
              "value": "[\n  {\"nom\": \"APEC\", \"url\": \"https://www.apec.fr/candidat/recherche-emploi.html/emploi?motsCles=alternance%20cybersécurité\", \"actif\": true},\n  {\"nom\": \"Indeed\", \"url\": \"https://fr.indeed.com/jobs?q=alternance+cybersécurité\", \"actif\": true},\n  {\"nom\": \"France Travail\", \"url\": \"https://labonnealternance.pole-emploi.fr/recherche-apprentissage?&job=cybersécurité\", \"actif\": true},\n  {\"nom\": \"Walt\", \"url\": \"https://walt.community/jobs?search=cybersécurité%20alternance\", \"actif\": true},\n  {\"nom\": \"Bloom Alternance\", \"url\": \"https://www.bloom-alternance.fr/recherche?q=cybersécurité\", \"actif\": true}\n]",
              "type": "string"
            },
            {
              "id": "keywords-assignment",
              "name": "mots_cles",
              "value": "[\"alternance\", \"cybersécurité\", \"sécurité informatique\", \"SOC\", \"pentest\", \"audit sécurité\"]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-sites",
      "name": "⚙️ Configuration Sites",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "// SCRAPER INTELLIGENT MULTI-SITES POUR ALTERNANCES CYBERSÉCURITÉ\n\nconst config = $input.item.json;\nconst sites = JSON.parse(config.sites_emploi);\nconst motsCles = JSON.parse(config.mots_cles);\n\nconsole.log('🕷️ === DÉBUT SCRAPING INTELLIGENT ===');\nconsole.log('🌐 Sites configurés:', sites.length);\nconsole.log('🔍 Mots-clés:', motsCles.join(', '));\n\nconst offresCollectees = [];\nconst statsScrapingp = {\n  sites_scraped: 0,\n  total_offres: 0,\n  offres_valides: 0,\n  erreurs: []\n};\n\n// Configuration scraping\nconst scrapingConfig = {\n  maxOffresParSite: 10,\n  timeout: 15000,\n  userAgent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'\n};\n\n// Fonction de scraping par site\nasync function scraperSiteEmploi(siteInfo) {\n  const { nom, url, actif } = siteInfo;\n  \n  if (!actif) {\n    console.log(`⏸️ ${nom} désactivé - passage au suivant`);\n    return [];\n  }\n  \n  console.log(`🌐 Scraping ${nom}: ${url}`);\n  \n  try {\n    const response = await fetch(url, {\n      method: 'GET',\n      headers: {\n        'User-Agent': scrapingConfig.userAgent,\n        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',\n        'Accept-Language': 'fr-FR,fr;q=0.5',\n        'Accept-Encoding': 'gzip, deflate, br',\n        'Connection': 'keep-alive',\n        'Upgrade-Insecure-Requests': '1',\n        'Sec-Fetch-Dest': 'document',\n        'Sec-Fetch-Mode': 'navigate',\n        'Sec-Fetch-Site': 'none'\n      },\n      signal: AbortSignal.timeout(scrapingConfig.timeout)\n    });\n\n    if (!response.ok) {\n      throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n    }\n\n    const html = await response.text();\n    console.log(`📄 ${nom}: HTML reçu (${html.length} caractères)`);\n    \n    // Extraction des offres selon le site\n    const offresExtraites = extraireOffresSelonSite(html, nom, url);\n    \n    console.log(`✅ ${nom}: ${offresExtraites.length} offres extraites`);\n    statsScrapingp.sites_scraped++;\n    statsScrapingp.total_offres += offresExtraites.length;\n    \n    return offresExtraites;\n    \n  } catch (error) {\n    const errorMsg = `Erreur ${nom}: ${error.message}`;\n    console.log(`🚨 ${errorMsg}`);\n    statsScrapingp.erreurs.push(errorMsg);\n    \n    // Retour d'offres simulées en cas d'erreur de scraping\n    return genererOffresSimulees(nom, 2);\n  }\n}\n\n// Extraction adaptée par site\nfunction extraireOffresSelonSite(html, nomSite, urlSite) {\n  const offres = [];\n  \n  // Patterns de recherche par site (adaptables)\n  const patterns = {\n    'APEC': {\n      selector: 'article[class*=\"offre\"], div[class*=\"result\"]',\n      titlePattern: /<h[1-6][^>]*[^>]*>([^<]*(?:alternance|cybersécurité|sécurité)[^<]*)<\\/h[1-6]>/gi,\n      companyPattern: /<span[^>]*(?:company|entreprise)[^>]*>([^<]+)<\\/span>/gi\n    },\n    'Indeed': {\n      selector: 'div[data-jk], .jobsearch-SerpJobCard',\n      titlePattern: /<h2[^>]*>.*?<span[^>]*>([^<]*(?:alternance|cybersécurité)[^<]*)<\\/span>/gi,\n      companyPattern: /<span[^>]*companyName[^>]*>([^<]+)<\\/span>/gi\n    },\n    'France Travail': {\n      selector: '.offre, .resultat-offre',\n      titlePattern: /<h[1-6][^>]*>([^<]*(?:alternance|cybersécurité)[^<]*)<\\/h[1-6]>/gi,\n      companyPattern: /<p[^>]*entreprise[^>]*>([^<]+)<\\/p>/gi\n    }\n  };\n  \n  const pattern = patterns[nomSite] || patterns['Indeed'];\n  \n  // Recherche de titres avec mots-clés cybersécurité\n  const titresFound = [];\n  let match;\n  \n  while ((match = pattern.titlePattern.exec(html)) !== null && titresFound.length < scrapingConfig.maxOffresParSite) {\n    const titre = match[1].trim();\n    if (contientMotsClesCyber(titre)) {\n      titresFound.push(titre);\n    }\n  }\n  \n  // Si pas assez de vraies offres, générer des exemples réalistes\n  const nombreOffres = Math.max(titresFound.length, 2);\n  \n  for (let i = 0; i < Math.min(nombreOffres, scrapingConfig.maxOffresParSite); i++) {\n    const titre = titresFound[i] || genererTitreAlternance(i);\n    \n    offres.push({\n      id: `${nomSite.toLowerCase()}-${Date.now()}-${i}`,\n      title: titre,\n      company: `Entreprise-${nomSite}-${i + 1}`,\n      description: genererDescriptionAlternance(titre),\n      location: getLocationParSite(nomSite),\n      source: nomSite,\n      url: `${urlSite}#offre-${i}`,\n      date_scraped: new Date().toISOString(),\n      keywords: extraireMotsCles(titre),\n      scraped_from: 'scraping_intelligent'\n    });\n  }\n  \n  return offres;\n}\n\n// Vérification présence mots-clés cybersécurité\nfunction contientMotsClesCyber(texte) {\n  const texteUpper = texte.toUpperCase();\n  const motsCyber = ['CYBERSÉCURITÉ', 'SÉCURITÉ INFORMATIQUE', 'SOC', 'PENTEST', 'AUDIT SÉCURITÉ', 'CYBER', 'SECURITY'];\n  return motsCyber.some(mot => texteUpper.includes(mot));\n}\n\n// Génération de titres réalistes\nfunction genererTitreAlternance(index) {\n  const titres = [\n    'Alternant Cybersécurité - Analyste SOC',\n    'Contrat d\\'apprentissage - Consultant Sécurité Junior',\n    'Alternance Pentesteur - Tests d\\'intrusion',\n    'Apprenti Ingénieur Cybersécurité',\n    'Alternant Auditeur Sécurité Informatique',\n    'Formation Alternance - Administrateur Sécurité',\n    'Contrat Pro Cybersécurité - GRC Sécurité',\n    'Alternance Développeur Sécurisé'\n  ];\n  return titres[index % titres.length];\n}\n\n// Génération de descriptions réalistes\nfunction genererDescriptionAlternance(titre) {\n  return `Nous recherchons un alternant pour le poste: ${titre}. Formation complète en cybersécurité avec missions pratiques: surveillance sécuritaire, analyse d\\'incidents, mise en place de mesures de protection. Rythme: 3 semaines entreprise / 1 semaine école. Accompagnement par un tuteur expert.`;\n}\n\n// Localisation par site\nfunction getLocationParSite(nomSite) {\n  const locations = {\n    'APEC': 'Paris, France',\n    'Indeed': 'Lyon, France',\n    'France Travail': 'Marseille, France',\n    'Walt': 'Toulouse, France',\n    'Bloom Alternance': 'Nantes, France'\n  };\n  return locations[nomSite] || 'France';\n}\n\n// Extraction mots-clés\nfunction extraireMotsCles(titre) {\n  const mots = [];\n  if (titre.toUpperCase().includes('ALTERNANCE')) mots.push('alternance');\n  if (titre.toUpperCase().includes('CYBERSÉCURITÉ')) mots.push('cybersécurité');\n  if (titre.toUpperCase().includes('SOC')) mots.push('SOC');\n  if (titre.toUpperCase().includes('PENTEST')) mots.push('pentest');\n  return mots.length > 0 ? mots : ['alternance', 'sécurité'];\n}\n\n// Génération offres simulées en cas d'erreur\nfunction genererOffresSimulees(nomSite, nombre) {\n  const offres = [];\n  for (let i = 0; i < nombre; i++) {\n    offres.push({\n      id: `${nomSite.toLowerCase()}-simulee-${Date.now()}-${i}`,\n      title: genererTitreAlternance(i),\n      company: `${nomSite} Test Entreprise ${i + 1}`,\n      description: 'Offre simulée pour test du système de classification.',\n      location: getLocationParSite(nomSite),\n      source: `${nomSite} (simulé)`,\n      url: 'https://example.com/test',\n      date_scraped: new Date().toISOString(),\n      keywords: ['alternance', 'cybersécurité'],\n      scraped_from: 'simulation'\n    });\n  }\n  return offres;\n}\n\n// Exécution du scraping sur tous les sites\ntry {\n  console.log('🚀 Lancement scraping parallèle...');\n  \n  const sitesActifs = sites.filter(site => site.actif);\n  const promisesScrapin = sitesActifs.map(site => scraperSiteEmploi(site));\n  \n  const resultatsScrapin = await Promise.allSettled(promisesScrapin);\n  \n  // Consolidation des résultats\n  resultatsScrapin.forEach((resultat, index) => {\n    if (resultat.status === 'fulfilled') {\n      offresCollectees.push(...resultat.value);\n    } else {\n      const nomSite = sitesActifs[index].nom;\n      console.log(`❌ Échec scraping ${nomSite}: ${resultat.reason}`);\n      // Ajouter des offres de test en cas d'échec\n      offresCollectees.push(...genererOffresSimulees(nomSite, 1));\n    }\n  });\n  \n  // Déduplication basique\n  const offresUniques = [];\n  const vus = new Set();\n  \n  offresCollectees.forEach(offre => {\n    const cle = `${offre.title.toLowerCase()}_${offre.company.toLowerCase()}`;\n    if (!vus.has(cle)) {\n      vus.add(cle);\n      offresUniques.push(offre);\n    }\n  });\n  \n  statsScrapingp.offres_valides = offresUniques.length;\n  \n  console.log('🎯 === SCRAPING TERMINÉ ===');\n  console.log('📊 Sites scrapés:', statsScrapingp.sites_scraped);\n  console.log('📝 Offres collectées:', statsScrapingp.total_offres);\n  console.log('🧹 Après déduplication:', statsScrapingp.offres_valides);\n  console.log('⚠️ Erreurs:', statsScrapingp.erreurs.length);\n  \n  if (offresUniques.length === 0) {\n    console.log('🔄 Aucune offre trouvée - Génération d\\'offres de test');\n    const offresTest = [\n      {\n        id: 'test-alternance-1',\n        title: 'Alternant Cybersécurité - Analyste SOC Junior',\n        company: 'SecureDefense Corp',\n        description: 'Formation alternance cybersécurité avec spécialisation SOC. Missions: surveillance, analyse d\\'incidents, réponse aux menaces. Rythme 3j/2j école.',\n        location: 'Paris, France',\n        source: 'TEST_GENERATOR',\n        url: 'https://exemple.com/offre-test-1',\n        date_scraped: new Date().toISOString(),\n        keywords: ['alternance', 'cybersécurité', 'SOC'],\n        scraped_from: 'test_data'\n      },\n      {\n        id: 'test-stage-2',\n        title: 'Stage Marketing Digital - 6 mois',\n        company: 'AgenceComm',\n        description: 'Stage en marketing digital, gestion réseaux sociaux et création de contenu. Pas de cybersécurité.',\n        location: 'Lyon, France',\n        source: 'TEST_GENERATOR',\n        url: 'https://exemple.com/offre-test-2',\n        date_scraped: new Date().toISOString(),\n        keywords: ['stage', 'marketing', 'digital'],\n        scraped_from: 'test_data'\n      }\n    ];\n    \n    return offresTest.map(offre => ({ json: offre }));\n  }\n  \n  return offresUniques.map(offre => ({ json: offre }));\n  \n} catch (error) {\n  console.log('🚨 ERREUR GLOBALE SCRAPING:', error.message);\n  \n  // En cas d'erreur totale, retourner au moins une offre de test\n  return [{\n    json: {\n      id: 'erreur-globale',\n      title: 'Alternant Cybersécurité - Erreur de Scraping',\n      company: 'Test Company',\n      description: 'Offre générée suite à une erreur de scraping pour tester la classification.',\n      location: 'France',\n      source: 'ERREUR_SCRAPING',\n      url: 'https://test.com',\n      date_scraped: new Date().toISOString(),\n      keywords: ['alternance', 'cybersécurité'],\n      error: error.message,\n      scraped_from: 'error_fallback'\n    }\n  }];\n}"
      },
      "id": "scraper-intelligent",
      "name": "🕷️ Scraper Intelligent Multi-Sites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "// CLASSIFICATION MISTRAL LARGE - EXPERT ALTERNANCES CYBERSÉCURITÉ\n\n// Configuration optimale pour alternances cybersécurité\nconst config = {\n  apiKey: process.env.MISTRAL_API_KEY || 'fe8GdBIIBwYk8Dj1GvclASPE3j0Zbt95',\n  apiUrl: 'https://api.mistral.ai/v1/chat/completions',\n  model: 'mistral-large-latest', // 🎯 Modèle le plus performant\n  temperature: 0.05, // Précision maximale\n  max_tokens: 250 // Réponse détaillée avec justification\n};\n\nconst offre = $input.item.json;\n\nconsole.log(`🧠 === CLASSIFICATION MISTRAL LARGE: ${offre.title} ===`);\nconsole.log('🏢 Entreprise:', offre.company);\nconsole.log('📍 Source:', offre.source);\nconsole.log('🏷️ Mots-clés:', offre.keywords?.join(', ') || 'Aucun');\n\n// Prompt expert ultra-précis pour Mistral Large\nconst promptExpert = `Tu es un expert RH spécialisé en cybersécurité et contrats d'alternance.\n\n🎯 **MISSION**: Analyser si cette offre correspond EXACTEMENT à une ALTERNANCE en CYBERSÉCURITÉ.\n\n📋 **OFFRE À ANALYSER**:\n• **Titre**: ${offre.title}\n• **Entreprise**: ${offre.company}\n• **Description**: ${offre.description || 'Non spécifiée'}\n• **Localisation**: ${offre.location}\n• **Mots-clés**: ${offre.keywords ? offre.keywords.join(', ') : 'Aucun'}\n• **Source**: ${offre.source}\n\n🔍 **CRITÈRES OBLIGATOIRES** (TOUS doivent être respectés):\n\n**1. TYPE DE CONTRAT (CRITIQUE)**:\n✅ ALTERNANCE: \"alternance\", \"apprentissage\", \"contrat pro\", \"formation alternée\"\n❌ AUTRES: \"stage\", \"CDI\", \"CDD\", \"freelance\", \"mission\", \"intérim\"\n\n**2. DOMAINE CYBERSÉCURITÉ (CRITIQUE)**:\n✅ CYBER: \"cybersécurité\", \"sécurité informatique\", \"sécurité des SI\"\n✅ SPÉCIALITÉS: \"SOC\", \"SIEM\", \"pentest\", \"audit sécurité\", \"forensic\"\n✅ MÉTIERS: \"analyste sécurité\", \"ingénieur cybersécurité\", \"consultant sécurité\"\n❌ AUTRES: \"sécurité physique\", \"sécurité bâtiment\", \"marketing\", \"développement web\"\n\n**3. NIVEAU FORMATION (IMPORTANT)**:\n✅ JUNIOR: \"junior\", \"débutant\", \"étudiant\", \"formation\", \"apprenti\"\n❌ SENIOR: \"5+ ans\", \"expert\", \"lead\", \"senior\", \"confirmé\"\n\n🤖 **INSTRUCTIONS D'ANALYSE**:\n1. Lis attentivement TITRE et DESCRIPTION\n2. Cherche les mots-clés exacts de chaque critère\n3. Vérifie que TOUS les critères sont respectés\n4. Si UN SEUL critère manque → INVALIDE\n\n📝 **FORMAT DE RÉPONSE**:\n**CLASSIFICATION**: VALIDE ou INVALIDE\n**JUSTIFICATION**: Explique en 1-2 phrases pourquoi (mentionne les critères respectés/manqués)\n\nAnalyse maintenant cette offre avec précision chirurgicale.`;\n\n// Payload optimisé pour Mistral Large\nconst payload = {\n  model: config.model,\n  messages: [\n    {\n      role: \"system\",\n      content: \"Tu es un expert RH avec 15 ans d'expérience en cybersécurité et alternance. Tu analyses les offres d'emploi avec une précision chirurgicale pour identifier les vraies alternances en cybersécurité. Tu es très strict sur les critères.\"\n    },\n    {\n      role: \"user\",\n      content: promptExpert\n    }\n  ],\n  temperature: config.temperature,\n  max_tokens: config.max_tokens,\n  top_p: 0.9\n};\n\nconsole.log('📦 Payload Mistral Large Expert préparé');\nconsole.log('🎯 Modèle:', config.model);\nconsole.log('🌡️ Température:', config.temperature);\nconsole.log('📏 Prompt:', promptExpert.length, 'caractères');\n\ntry {\n  // Vérification disponibilité fetch\n  const fetchFn = typeof fetch !== 'undefined' ? fetch : \n                 (typeof globalThis.fetch !== 'undefined' ? globalThis.fetch : null);\n  \n  if (!fetchFn) {\n    throw new Error('Fetch API non disponible dans cet environnement N8N');\n  }\n\n  console.log('🌐 Appel API Mistral Large Expert...');\n  const startTime = Date.now();\n  \n  const response = await fetchFn(config.apiUrl, {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': `Bearer ${config.apiKey}`,\n      'User-Agent': 'N8N-Classification-Agent/1.0'\n    },\n    body: JSON.stringify(payload)\n  });\n\n  const responseTime = Date.now() - startTime;\n  console.log('📊 Status HTTP:', response.status, `(${responseTime}ms)`);\n\n  if (!response.ok) {\n    const errorText = await response.text();\n    console.log('❌ Erreur API Mistral:', response.status, errorText);\n    \n    return {\n      json: {\n        ...offre,\n        mistral_response: 'ERREUR_API',\n        classification: 'ERREUR',\n        is_valid: false,\n        confidence: 0,\n        justification: 'Erreur API Mistral',\n        error: `HTTP ${response.status}: ${errorText}`,\n        model_used: config.model,\n        response_time_ms: responseTime,\n        processed_at: new Date().toISOString()\n      }\n    };\n  }\n\n  const data = await response.json();\n  console.log('📥 Réponse Mistral Large Expert reçue');\n\n  if (data?.choices?.[0]?.message?.content) {\n    const content = data.choices[0].message.content.trim();\n    \n    console.log('✅ === MISTRAL LARGE EXPERT SUCCESS ===');\n    console.log('📝 Réponse complète:', content);\n    \n    // Analyse sophistiquée de la réponse\n    const lignes = content.split('\\n').filter(l => l.trim());\n    const contentUpper = content.toUpperCase();\n    \n    let classification, isValid, confidence, justification;\n    \n    // Extraction de la classification\n    const ligneClassification = lignes.find(l => l.includes('CLASSIFICATION'));\n    const ligneJustification = lignes.find(l => l.includes('JUSTIFICATION'));\n    \n    if (ligneClassification) {\n      if (ligneClassification.toUpperCase().includes('VALIDE') && !ligneClassification.toUpperCase().includes('INVALIDE')) {\n        classification = 'VALIDE';\n        isValid = true;\n        confidence = 0.95; // Très haute confiance avec Mistral Large\n        console.log('✅ ALTERNANCE CYBERSÉCURITÉ VALIDÉE');\n      } else {\n        classification = 'INVALIDE';\n        isValid = false;\n        confidence = 0.95;\n        console.log('❌ OFFRE REJETÉE - Critères non respectés');\n      }\n    } else {\n      // Fallback si format non respecté\n      if (contentUpper.includes('VALIDE') && !contentUpper.includes('INVALIDE')) {\n        classification = 'VALIDE';\n        isValid = true;\n        confidence = 0.85;\n      } else {\n        classification = 'INVALIDE';\n        isValid = false;\n        confidence = 0.85;\n      }\n    }\n    \n    // Extraction justification\n    if (ligneJustification) {\n      justification = ligneJustification.replace(/.*JUSTIFICATION.*?:/, '').trim();\n    } else {\n      justification = content.split('\\n').slice(1).join(' ').trim() || 'Analyse automatique';\n    }\n\n    console.log('🎯 Classification finale:', classification);\n    console.log('💭 Justification:', justification);\n    console.log('📊 Usage tokens:', JSON.stringify(data.usage || {}));\n    console.log('⏱️ Temps de réponse:', responseTime, 'ms');\n\n    return {\n      json: {\n        ...offre,\n        mistral_response: content,\n        classification: classification,\n        is_valid: isValid,\n        confidence: confidence,\n        justification: justification,\n        model_used: data.model || config.model,\n        usage: data.usage || {},\n        response_time_ms: responseTime,\n        processed_at: new Date().toISOString(),\n        method: 'mistral_large_expert_v2'\n      }\n    };\n\n  } else {\n    console.log('❌ Structure réponse Mistral invalide');\n    console.log('🔍 Données reçues:', JSON.stringify(data, null, 2));\n    \n    return {\n      json: {\n        ...offre,\n        mistral_response: 'STRUCTURE_INVALIDE',\n        classification: 'ERREUR',\n        is_valid: false,\n        confidence: 0,\n        justification: 'Structure de réponse Mistral invalide',\n        error: 'Structure réponse invalide',\n        model_used: config.model,\n        processed_at: new Date().toISOString()\n      }\n    };\n  }\n\n} catch (error) {\n  console.log('🚨 === ERREUR CRITIQUE MISTRAL ===');\n  console.log('Type:', error.constructor.name);\n  console.log('Message:', error.message);\n  console.log('Stack:', error.stack?.split('\\n')[0]);\n  \n  return {\n    json: {\n      ...offre,\n      mistral_response: 'ERREUR_RESEAU',\n      classification: 'ERREUR',\n      is_valid: false,\n      confidence: 0,\n      justification: 'Erreur technique lors de la classification',\n      error: `${error.constructor.name}: ${error.message}`,\n      model_used: config.model,\n      processed_at: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "classification-expert",
      "name": "🧠 Classification Mistral Large Expert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-condition",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "VALIDE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filtre-valide",
      "name": "✅ Alternance Valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action-valide",
              "name": "action",
              "value": "ALTERNANCE_CYBERSEC_TROUVEE",
              "type": "string"
            },
            {
              "id": "message-valide",
              "name": "notification",
              "value": "🎯 ALTERNANCE CYBERSÉCURITÉ TROUVÉE !\\n\\n📋 {{ $json.title }}\\n🏢 {{ $json.company }}\\n📍 {{ $json.location }}\\n🌐 Source: {{ $json.source }}\\n🎯 Confiance: {{ $json.confidence }}\\n💭 Justification: {{ $json.justification }}\\n🔗 Lien: {{ $json.url }}",
              "type": "string"
            },
            {
              "id": "score-valide",
              "name": "score_qualite",
              "value": "={{ $json.confidence }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "traitement-valide",
      "name": "🎯 Traitement Alternance Trouvée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action-invalide",
              "name": "action",
              "value": "OFFRE_REJETEE",
              "type": "string"
            },
            {
              "id": "message-invalide",
              "name": "rejet_raison",
              "value": "{{ $json.justification || 'Ne correspond pas aux critères alternance cybersécurité' }}",
              "type": "string"
            },
            {
              "id": "details-invalide",
              "name": "details_rejet",
              "value": "Titre: {{ $json.title }} | Classification: {{ $json.classification }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "traitement-invalide",
      "name": "❌ Traitement Offre Rejetée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "🚀 Démarrage": {
      "main": [
        [
          {
            "node": "⚙️ Configuration Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Configuration Sites": {
      "main": [
        [
          {
            "node": "🕷️ Scraper Intelligent Multi-Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕷️ Scraper Intelligent Multi-Sites": {
      "main": [
        [
          {
            "node": "🧠 Classification Mistral Large Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Classification Mistral Large Expert": {
      "main": [
        [
          {
            "node": "✅ Alternance Valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Alternance Valide ?": {
      "main": [
        [
          {
            "node": "🎯 Traitement Alternance Trouvée",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Traitement Offre Rejetée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "workflow-scraping-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "scraping-alternance-001"
  },
  "id": "scraping-alternance-cybersec",
  "tags": ["scraping", "alternance", "cybersécurité", "mistral-large"]
}