agent_n8n/workflows/old/workflow_mistral_http_workaround.json
{
  "name": "Workflow Mistral HTTP Workaround",
  "nodes": [
    {
      "parameters": {},
      "id": "test-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Contrat d'apprentissage - Analyste Cybersécurité SOC"
            },
            {
              "name": "company",
              "value": "Orange Cyberdefense"
            },
            {
              "name": "description",
              "value": "Formation alternance 24 mois analyste cybersécurité SOC."
            },
            {
              "name": "contract_type",
              "value": "Contrat d'apprentissage"
            }
          ]
        }
      },
      "id": "test-data",
      "name": "Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "ANALYSE OFFRE ALTERNANCE CYBERSÉCURITÉ:\n\nTITRE: {{$json.title}}\nENTREPRISE: {{$json.company}}\nCONTRAT: {{$json.contract_type}}\nDESCRIPTION: {{$json.description}}\n\nCRITÈRES VALIDATION:\n✅ CONTRAT = apprentissage OU alternance OU contrat pro\n✅ DOMAINE = cybersécurité OU sécurité informatique\n❌ EXCLUER = stage, CDI, CDD, commercial, marketing\n\nRÉPONDS EXACTEMENT:\nCLASSIFICATION: VALIDE ou INVALIDE\nJUSTIFICATION: [raison courte]"
            }
          ]
        }
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.mistral_key_site_emploi}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"user\", \"content\": \"{{$json.prompt}}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "100"
            }
          ]
        },
        "options": {
          "bodyContentType": "json"
        }
      },
      "id": "mistral-http-request",
      "name": "Mistral HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "classification_result",
              "value": "{{$json.choices[0].message.content}}"
            },
            {
              "name": "tokens_used",
              "value": "{{$json.usage.total_tokens}}"
            },
            {
              "name": "model_used",
              "value": "{{$json.model}}"
            },
            {
              "name": "status",
              "value": "SUCCESS"
            }
          ]
        }
      },
      "id": "extract-result",
      "name": "Extract Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Mistral HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "tags": [
    {
      "id": "mistral-workaround",
      "name": "mistral-workaround"
    }
  ]
}