agent_n8n/workflows/old/workflow_n8n_excel_corrige.json
{
  "name": "Agent Alternance - Excel Téléchargeable",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-excel-fix",
      "name": "Déclencheur (30min)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 240]
    },
    {
      "parameters": {
        "functionCode": "// Générateur de données enrichies pour Excel\nconst offers = [\n  {\n    title: \"Alternance Cybersécurité - Analyste SOC H/F\",\n    company: \"SecureTech Solutions\",\n    location: \"Paris (75)\",\n    duration: \"24 mois\",\n    start_date: \"septembre 2025\",\n    description: \"Recherchons alternant pour poste d'analyste SOC. Formation cybersécurité Master 1/2. Missions: monitoring sécurité, analyse incidents, reporting.\",\n    url: \"https://pole-emploi.fr/candidat/offres/recherche/detail/123456\",\n    scraper_source: \"pole_emploi\",\n    ai_response: \"VALIDE\",\n    is_valid: true,\n    status: \"✅ VALIDÉE\",\n    processed_at: new Date().toISOString()\n  },\n  {\n    title: \"Formation Cybersécurité - École Supérieure\",\n    company: \"École Supérieure Informatique\",\n    location: \"Lyon (69)\",\n    duration: \"3 ans\",\n    start_date: \"septembre 2025\",\n    description: \"Formation diplômante en cybersécurité. Programme complet théorique avec stages en entreprise.\",\n    url: \"https://indeed.fr/formation/cybersecurite-123\",\n    scraper_source: \"indeed\",\n    ai_response: \"INVALIDE: Formation d'école\",\n    is_valid: false,\n    status: \"❌ REJETÉE\",\n    processed_at: new Date().toISOString()\n  },\n  {\n    title: \"Alternance DevSecOps - Infrastructure Sécurisée\",\n    company: \"TechCorp Enterprise\",\n    location: \"Marseille (13)\",\n    duration: \"18 mois\",\n    start_date: \"septembre 2025\",\n    description: \"Poste d'alternant DevSecOps. Mission: automatisation sécurité, CI/CD sécurisé, audit infrastructure.\",\n    url: \"https://apec.fr/candidat/recherche-emploi/detail/123789\",\n    scraper_source: \"apec\",\n    ai_response: \"VALIDE\",\n    is_valid: true,\n    status: \"✅ VALIDÉE\",\n    processed_at: new Date().toISOString()\n  },\n  {\n    title: \"Alternance Pentester Junior - Audit Sécurité\",\n    company: \"CyberSec Consulting\",\n    location: \"Toulouse (31)\",\n    duration: \"24 mois\",\n    start_date: \"octobre 2025\",\n    description: \"Alternance pentesting et audit sécurité. Formation sur tests d'intrusion, analyse vulnérabilités.\",\n    url: \"https://linkedin.com/jobs/view/987654321\",\n    scraper_source: \"linkedin\",\n    ai_response: \"VALIDE\",\n    is_valid: true,\n    status: \"✅ VALIDÉE\",\n    processed_at: new Date().toISOString()\n  },\n  {\n    title: \"Alternance RSSI Junior - Gouvernance Sécurité\",\n    company: \"Digital Security Corp\",\n    location: \"Nantes (44)\",\n    duration: \"24 mois\",\n    start_date: \"janvier 2026\",\n    description: \"Alternance en gouvernance sécurité. Missions: politique sécurité, conformité RGPD, formation utilisateurs.\",\n    url: \"https://monster.fr/emploi/alternance-rssi-123456\",\n    scraper_source: \"monster\",\n    ai_response: \"VALIDE\",\n    is_valid: true,\n    status: \"✅ VALIDÉE\",\n    processed_at: new Date().toISOString()\n  }\n];\n\nconsole.log(`📋 Génération de ${offers.length} offres pour Excel`);\nconsole.log(`✅ Offres validées: ${offers.filter(o => o.is_valid).length}`);\nconsole.log(`❌ Offres rejetées: ${offers.filter(o => !o.is_valid).length}`);\n\nreturn offers.map(offer => ({ json: offer }));"
      },
      "id": "data-enriched-fix",
      "name": "Données Enrichies",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 240]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "filter-valid-only-fix",
      "name": "Filtrer Validées",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "functionCode": "// Formatage pour Excel\nconst offer = $json;\n\n// Données formatées pour Excel\nconst excelRow = {\n  'N°': 1, // Sera réajusté après agrégation\n  'Titre': offer.title || 'N/A',\n  'Entreprise': offer.company || 'N/A',\n  'Localisation': offer.location || 'N/A',\n  'Durée': offer.duration || 'N/A',\n  'Date de début': offer.start_date || 'N/A',\n  'Site source': offer.scraper_source || 'N/A',\n  'Lien direct': offer.url || 'N/A',\n  'Validation IA': offer.ai_response || 'VALIDE',\n  'Statut': offer.status || '✅ VALIDÉE',\n  'Date traitement': new Date(offer.processed_at).toLocaleDateString('fr-FR'),\n  'Description': (offer.description || '').substring(0, 200) + '...' // Limité pour Excel\n};\n\nconsole.log(`📊 Formatage Excel: ${excelRow.Titre}`);\n\nreturn { json: excelRow };"
      },
      "id": "format-excel-fix",
      "name": "Format Excel",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "offres_excel",
        "options": {}
      },
      "id": "aggregate-excel-fix",
      "name": "Agréger pour Excel",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "mode": "single",
        "jsonData": "={{ $json.offres_excel }}",
        "options": {}
      },
      "id": "create-excel-fix",
      "name": "Créer Excel Basique",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "functionCode": "// Affichage final avec instructions détaillées\nconst inputData = $input.first()?.json || {};\nconst binaryData = $binary;\n\nconsole.log(`\\n🎯 ====== FICHIER EXCEL DISPONIBLE ====== 🎯`);\nconsole.log(`📄 Fichier Excel généré avec succès !`);\nconsole.log(`📊 Données: ${JSON.stringify(inputData, null, 2)}`);\nconsole.log(``);\nconsole.log(`💾 INSTRUCTIONS DE TÉLÉCHARGEMENT:`);\nconsole.log(`1. 👆 Cliquez sur ce nœud 'Instructions Téléchargement'`);\nconsole.log(`2. 📋 Onglet 'OUTPUT' dans le panneau de droite`);\nconsole.log(`3. 📥 Section 'Binary Data' en bas`);\nconsole.log(`4. 🎯 Cliquez 'Download binary file'`);\nconsole.log(``);\nconsole.log(`🔧 ALTERNATIVE:`);\nconsole.log(`- Retournez au nœud 'Créer Excel Basique'`);\nconsole.log(`- Même procédure: OUTPUT > Binary Data > Download`);\nconsole.log(``);\nconsole.log(`📊 CONTENU FICHIER EXCEL:`);\nconsole.log(`- Onglet 1: Données complètes (4 offres)`);\nconsole.log(`- Format: alternance_cybersecurite_[timestamp].xlsx`);\nconsole.log(`- Taille: ~7 KB`);\nconsole.log(``);\nconsole.log(`🎯 ====== SUCCÈS ====== 🎯`);\n\n// Passer les données binaires pour le téléchargement\nreturn {\n  json: {\n    filename: 'alternance_cybersecurite_' + new Date().toISOString().slice(0,19).replace(/[:-]/g, '') + '.xlsx',\n    status: 'Excel disponible',\n    download_ready: true,\n    instructions: 'Consultez Binary Data pour télécharger'\n  },\n  binary: binaryData\n};"
      },
      "id": "instructions-download",
      "name": "Instructions Téléchargement",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "functionCode": "// Log des rejets\nconst rejectedOffer = $json;\n\nconst logEntry = {\n  titre: rejectedOffer.title,\n  entreprise: rejectedOffer.company,\n  raison_rejet: rejectedOffer.ai_response,\n  date_rejet: new Date().toISOString()\n};\n\nconsole.log('❌ Offre rejetée (exclue du Excel):', JSON.stringify(logEntry, null, 2));\n\nreturn { json: logEntry };"
      },
      "id": "log-rejected-excel-fix",
      "name": "Log Rejets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 320]
    }
  ],
  "connections": {
    "Déclencheur (30min)": {
      "main": [
        [
          {
            "node": "Données Enrichies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Données Enrichies": {
      "main": [
        [
          {
            "node": "Filtrer Validées",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer Validées": {
      "main": [
        [
          {
            "node": "Format Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Excel": {
      "main": [
        [
          {
            "node": "Agréger pour Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agréger pour Excel": {
      "main": [
        [
          {
            "node": "Créer Excel Basique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Excel Basique": {
      "main": [
        [
          {
            "node": "Instructions Téléchargement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "excel-download-fix",
      "name": "Excel Download Fix"
    }
  ],
  "triggerCount": 1
}