agent_n8n/workflows/workflow_hellowork_cybersecurite.json
{
  "name": "🎯 HelloWork - Alternance Cybersécurité",
  "nodes": [
    {
      "parameters": {},
      "id": "start-hellowork",
      "name": "🚀 Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURATION HELLOWORK CYBERSÉCURITÉ\nconsole.log('🔍 === RECHERCHE HELLOWORK CYBERSÉCURITÉ ===');\n\nconst searchConfig = {\n  site_name: 'HelloWork',\n  base_url: 'https://www.hellowork.com',\n  search_params: {\n    // URL pour alternance cybersécurité\n    url: 'https://www.hellowork.com/fr-fr/emploi/recherche.html?k=cybersécurité%20alternance&l=France&c=apprentissage,contrat-professionnalisation',\n    keywords: ['cybersécurité', 'alternance', 'apprentissage'],\n    location: 'France',\n    contract_types: ['apprentissage', 'contrat-professionnalisation'],\n    experience_level: 'débutant'\n  },\n  scraping_config: {\n    timeout: 30000,\n    retry_attempts: 3,\n    user_agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36',\n    headers: {\n      'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',\n      'Accept-Language': 'fr-FR,fr;q=0.9,en;q=0.8',\n      'Accept-Encoding': 'gzip, deflate, br',\n      'DNT': '1',\n      'Connection': 'keep-alive',\n      'Upgrade-Insecure-Requests': '1'\n    }\n  },\n  expected_results: {\n    min_offers: 1,\n    max_offers: 20,\n    target_alternance: true,\n    target_cybersecurity: true\n  }\n};\n\nconsole.log('🎯 Site cible:', searchConfig.site_name);\nconsole.log('🔗 URL recherche:', searchConfig.search_params.url);\nconsole.log('📋 Mots-clés:', searchConfig.search_params.keywords.join(', '));\n\nreturn { json: searchConfig };"
      },
      "id": "config-hellowork",
      "name": "⚙️ Config HelloWork",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// SIMULATION SCRAPING HELLOWORK (données réalistes)\nconst config = $input.item.json;\n\nconsole.log(`🌐 === SCRAPING ${config.site_name} ===`);\nconsole.log('🎯 URL:', config.search_params.url);\n\n// Simulation offres HelloWork réalistes\nconst mockOffersHelloWork = [\n  {\n    id: 'hw-cyber-001-2025',\n    title: 'Alternance - Analyste Cybersécurité SOC L1/L2',\n    company: 'Orange Cyberdéfense',\n    location: 'Issy-les-Moulineaux (92)',\n    contract_type: 'Contrat d\\'apprentissage',\n    duration: '24 mois',\n    salary_range: '1200-1500€/mois',\n    start_date: '2025-09-01',\n    description: 'Rejoignez notre équipe SOC en alternance ! Formation Master cybersécurité. Missions : surveillance 24/7, analyse incidents sécurité, utilisation SIEM (Splunk, QRadar). Encadrement par experts cybersécurité.',\n    requirements: ['Master 1/2 cybersécurité', 'Bases réseaux/systèmes', 'Motivation sécurité', 'Anglais technique'],\n    benefits: ['Formation certifiante', 'Encadrement expert', 'Possibilité CDI'],\n    posted_date: '2025-06-10',\n    expires_date: '2025-07-10',\n    reference: 'ORANGE-CYBER-ALT-2025',\n    url: 'https://www.hellowork.com/fr-fr/emploi/orange-cyberdefense-alternance-analyste-cybersecurite-soc.html',\n    source_platform: 'HelloWork'\n  },\n  {\n    id: 'hw-cyber-002-2025',\n    title: 'Apprentissage Développeur Sécurité - Outils Cybersécurité',\n    company: 'Thales Defence',\n    location: 'Toulouse (31)',\n    contract_type: 'Contrat d\\'apprentissage',\n    duration: '36 mois',\n    salary_range: '1400-1700€/mois',\n    start_date: '2025-08-15',\n    description: 'Formation développement d\\'outils cybersécurité défense. Stack : Python, C++, cryptographie. Projets : outils audit sécurité, solutions chiffrement, analyse malware. Habilitation défense requise.',\n    requirements: ['Bac+3 informatique', 'Python/C++', 'Cryptographie', 'Nationalité française'],\n    benefits: ['Habilitation défense', 'Projets stratégiques', 'Évolution carrière'],\n    posted_date: '2025-06-08',\n    expires_date: '2025-08-01',\n    reference: 'THALES-DEV-CYBER-2025',\n    url: 'https://www.hellowork.com/fr-fr/emploi/thales-apprentissage-developpeur-securite-outils.html',\n    source_platform: 'HelloWork'\n  },\n  {\n    id: 'hw-stage-001-2025',\n    title: 'Stage Communication Digitale - 6 mois',\n    company: 'Agence WebCom',\n    location: 'Lyon (69)',\n    contract_type: 'Stage',\n    duration: '6 mois',\n    salary_range: '600€/mois',\n    start_date: '2025-07-01',\n    description: 'Stage communication digitale. Gestion réseaux sociaux, création contenu, événementiel. Aucun lien avec cybersécurité. Recherche étudiant communication/marketing.',\n    requirements: ['Bac+3 communication', 'Réseaux sociaux', 'Créativité'],\n    benefits: ['Ambiance startup', 'Formation digitale'],\n    posted_date: '2025-06-05',\n    expires_date: '2025-06-25',\n    reference: 'WEBCOM-STAGE-2025',\n    url: 'https://www.hellowork.com/fr-fr/emploi/agence-webcom-stage-communication-digitale.html',\n    source_platform: 'HelloWork'\n  },\n  {\n    id: 'hw-cdi-001-2025',\n    title: 'Ingénieur Cybersécurité Senior - Expert Pentest',\n    company: 'Devoteam Cybertrust',\n    location: 'Paris (75)',\n    contract_type: 'CDI',\n    duration: 'Indéterminée',\n    salary_range: '60000-80000€/an',\n    start_date: '2025-07-15',\n    description: 'Recherchons ingénieur cybersécurité senior 5+ ans expérience. Missions : audits sécurité, pentests applicatifs/infrastructure, conseil client. Expertise avancée requise.',\n    requirements: ['Bac+5 cybersécurité', '5+ ans pentest', 'Certifications OSCP/CEH', 'Autonomie'],\n    benefits: ['Salaire attractif', 'Projets variés', 'Formation continue'],\n    posted_date: '2025-06-07',\n    expires_date: '2025-08-07',\n    reference: 'DEVOTEAM-SENIOR-2025',\n    url: 'https://www.hellowork.com/fr-fr/emploi/devoteam-ingenieur-cybersecurite-senior-pentest.html',\n    source_platform: 'HelloWork'\n  }\n];\n\nconsole.log(`📋 Offres HelloWork trouvées: ${mockOffersHelloWork.length}`);\n\n// Enrichissement avec métadonnées scraping\nconst enrichedOffers = mockOffersHelloWork.map((offer, index) => {\n  // Analyse préliminaire\n  const isAlternanceContract = ['apprentissage', 'alternance', 'professionnalisation']\n    .some(type => offer.contract_type.toLowerCase().includes(type));\n  \n  const isCyberSecurity = ['cyber', 'sécurité', 'security', 'soc', 'pentest']\n    .some(keyword => \n      (offer.title + ' ' + offer.description).toLowerCase().includes(keyword)\n    );\n  \n  const expectedClassification = (isAlternanceContract && isCyberSecurity) ? 'VALIDE' : 'INVALIDE';\n  \n  return {\n    ...offer,\n    scraped_at: new Date().toISOString(),\n    scraping_metadata: {\n      source: config.site_name,\n      search_url: config.search_params.url,\n      extraction_method: 'simulation_realistic',\n      offer_index: index\n    },\n    preliminary_analysis: {\n      is_alternance_contract: isAlternanceContract,\n      is_cybersecurity_domain: isCyberSecurity,\n      expected_mistral_classification: expectedClassification,\n      confidence_preliminary: (isAlternanceContract && isCyberSecurity) ? 0.9 : 0.8\n    },\n    ready_for_mistral: true\n  };\n});\n\nconsole.log('✅ Enrichissement terminé');\nenrichedOffers.forEach((offer, idx) => {\n  const status = offer.preliminary_analysis.expected_mistral_classification;\n  console.log(`${idx + 1}. ${offer.title} → ${status}`);\n});\n\nreturn enrichedOffers.map(offer => ({ json: offer }));"
      },
      "id": "scraper-hellowork",
      "name": "🕷️ Scraper HelloWork",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// PRÉPARATION CLASSIFICATION MISTRAL OPTIMISÉE\nconst offer = $input.item.json;\n\nconsole.log(`🤖 === PRÉPARATION MISTRAL: ${offer.title} ===`);\nconsole.log('🏢 Entreprise:', offer.company);\nconsole.log('💼 Contrat:', offer.contract_type);\nconsole.log('🎯 Classification attendue:', offer.preliminary_analysis.expected_mistral_classification);\n\n// Prompt expert spécialisé alternance cybersécurité\nconst expertPrompt = `EXPERT CLASSIFICATION ALTERNANCE CYBERSÉCURITÉ\n\n=== OFFRE À ANALYSER ===\nTITRE: ${offer.title}\nENTREPRISE: ${offer.company}\nTYPE CONTRAT: ${offer.contract_type}\nLIEU: ${offer.location}\nDURÉE: ${offer.duration}\nSALAIRE: ${offer.salary_range}\nDESCRIPTION: ${offer.description}\nEXIGENCES: ${offer.requirements ? offer.requirements.join(', ') : 'Non spécifiées'}\n\n=== CRITÈRES VALIDATION STRICTE ===\n\n1. 🎯 TYPE CONTRAT (OBLIGATOIRE):\n   ✅ VALIDE: apprentissage, alternance, contrat professionnalisation\n   ❌ INVALIDE: stage, CDI, CDD, mission, freelance\n\n2. 🛡️ DOMAINE CYBERSÉCURITÉ (OBLIGATOIRE):\n   ✅ VALIDE: cybersécurité, sécurité informatique, SOC, SIEM, pentest, audit sécurité, analyse sécurité\n   ❌ INVALIDE: développement général, marketing, communication, commercial, RH\n\n3. 📚 NIVEAU FORMATION (IMPORTANT):\n   ✅ PRÉFÉRÉ: junior, débutant, formation, étudiant\n   ❌ EXCLUSION: senior 5+ ans, expert, manager\n\n=== EXCLUSIONS AUTOMATIQUES ===\n- Stages (même en cybersécurité)\n- Postes seniors/experts (5+ ans expérience)\n- CDI/CDD classiques sans formation\n- Domaines non-cybersécurité\n\n=== FORMAT RÉPONSE OBLIGATOIRE ===\nCLASSIFICATION: VALIDE ou INVALIDE\nJUSTIFICATION: [Explication précise en 1 phrase]\nCONFIANCE: [0.1 à 1.0]\n\nAnalyse maintenant cette offre.`;\n\n// Configuration Mistral optimisée\nconst mistralPayload = {\n  model: \"mistral-large-latest\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"Tu es un expert RH spécialisé dans l'analyse d'offres d'alternance en cybersécurité. Tu appliques des critères stricts : SEULES les vraies alternances/apprentissages EN cybersécurité pour débutants sont VALIDES. Sois très précis dans tes classifications.\"\n    },\n    {\n      role: \"user\",\n      content: expertPrompt\n    }\n  ],\n  temperature: 0.05,\n  max_tokens: 300\n};\n\nconsole.log('📋 Payload Mistral Large créé');\nconsole.log('🌡️ Température:', mistralPayload.temperature);\nconsole.log('📏 Max tokens:', mistralPayload.max_tokens);\n\nreturn {\n  json: {\n    ...offer,\n    mistral_request: {\n      payload_json: JSON.stringify(mistralPayload),\n      model: mistralPayload.model,\n      temperature: mistralPayload.temperature,\n      max_tokens: mistralPayload.max_tokens,\n      prompt_length: expertPrompt.length\n    },\n    classification_prompt: expertPrompt,\n    prepared_at: new Date().toISOString(),\n    processing_status: 'READY_FOR_MISTRAL_CLASSIFICATION'\n  }\n};"
      },
      "id": "prepare-mistral",
      "name": "🎯 Préparer Mistral",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fe8GdBIIBwYk8Dj1GvclASPE3j0Zbt95"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json.mistral_request.payload_json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "api-mistral",
      "name": "🧠 API Mistral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid-offer",
              "leftValue": "={{ $json.mistral_result.is_valid_offer }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "is true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "🔍 Filtrer Valides",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action-type",
              "name": "action",
              "value": "ALTERNANCE_CYBERSECURITE_TROUVEE",
              "type": "string"
            },
            {
              "id": "offer-title",
              "name": "titre",
              "value": "{{ $json.title }}",
              "type": "string"
            },
            {
              "id": "offer-company",
              "name": "entreprise",
              "value": "{{ $json.company }}",
              "type": "string"
            },
            {
              "id": "offer-contract",
              "name": "contrat",
              "value": "{{ $json.contract_type }}",
              "type": "string"
            },
            {
              "id": "offer-location",
              "name": "lieu",
              "value": "{{ $json.location }}",
              "type": "string"
            },
            {
              "id": "offer-salary",
              "name": "salaire",
              "value": "{{ $json.salary_range }}",
              "type": "string"
            },
            {
              "id": "offer-duration",
              "name": "duree",
              "value": "{{ $json.duration }}",
              "type": "string"
            },
            {
              "id": "offer-url",
              "name": "lien_candidature",
              "value": "{{ $json.url }}",
              "type": "string"
            },
            {
              "id": "mistral-justification",
              "name": "justification_ia",
              "value": "{{ $json.mistral_result.justification }}",
              "type": "string"
            },
            {
              "id": "confidence-score",
              "name": "score_confiance",
              "value": "{{ $json.mistral_result.confidence }}",
              "type": "number"
            },
            {
              "id": "summary",
              "name": "resume_offre",
              "value": "✅ {{ $json.title }} chez {{ $json.company }} - {{ $json.contract_type }} ({{ $json.duration }}) à {{ $json.location }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-valid",
      "name": "✅ Formater Offres Retenues",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "action-rejected",
              "name": "action",
              "value": "OFFRE_REJETEE",
              "type": "string"
            },
            {
              "id": "rejected-title",
              "name": "titre",
              "value": "{{ $json.title }}",
              "type": "string"
            },
            {
              "id": "rejected-company",
              "name": "entreprise",
              "value": "{{ $json.company }}",
              "type": "string"
            },
            {
              "id": "rejection-reason",
              "name": "raison_rejet",
              "value": "{{ $json.mistral_result.classification }} - {{ $json.mistral_result.justification }}",
              "type": "string"
            },
            {
              "id": "contract-issue",
              "name": "probleme_contrat",
              "value": "{{ $json.contract_type }} (attendu: alternance/apprentissage)",
              "type": "string"
            },
            {
              "id": "summary-rejected",
              "name": "resume",
              "value": "❌ {{ $json.title }} chez {{ $json.company }} - Rejeté: {{ $json.mistral_result.classification }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-rejected",
      "name": "❌ Formater Offres Rejetées",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// TRAITEMENT RÉPONSE MISTRAL AVEC PARSING ROBUSTE\nconst originalOffer = $('🎯 Préparer Mistral').item.json;\nconst mistralResponse = $input.item.json;\n\nconsole.log(`✅ === CLASSIFICATION RÉUSSIE: ${originalOffer.title} ===`);\nconsole.log('🏢 Entreprise:', originalOffer.company);\nconsole.log('💼 Type contrat:', originalOffer.contract_type);\n\n// Validation structure réponse Mistral\nif (!mistralResponse.choices || !mistralResponse.choices[0] || !mistralResponse.choices[0].message) {\n  console.log('❌ Structure réponse Mistral invalide');\n  return {\n    json: {\n      ...originalOffer,\n      mistral_result: {\n        classification: 'ERREUR_STRUCTURE',\n        justification: 'Réponse API Mistral malformée',\n        confidence: 0,\n        is_valid_offer: false,\n        error_type: 'INVALID_API_RESPONSE'\n      }\n    }\n  };\n}\n\nconst mistralContent = mistralResponse.choices[0].message.content.trim();\nconsole.log('📝 Réponse Mistral complète:', mistralContent);\n\n// Parsing robuste avec regex\nlet classification = 'INCERTAIN';\nlet justification = 'Non trouvée';\nlet confidence = 0.5;\n\n// Extraction CLASSIFICATION avec patterns multiples\nconst classificationPatterns = [\n  /CLASSIFICATION:\\s*(VALIDE|INVALIDE)/i,\n  /^(VALIDE|INVALIDE)/i,\n  /(VALIDE|INVALIDE)(?!.*INVALIDE|.*VALIDE)/i\n];\n\nfor (const pattern of classificationPatterns) {\n  const match = mistralContent.match(pattern);\n  if (match) {\n    classification = match[1].toUpperCase();\n    console.log('🎯 Classification extraite:', classification);\n    break;\n  }\n}\n\n// Extraction JUSTIFICATION\nconst justificationPatterns = [\n  /JUSTIFICATION:\\s*([^\\n]+)/i,\n  /(?:VALIDE|INVALIDE)[^\\n]*:\\s*([^\\n]+)/i\n];\n\nfor (const pattern of justificationPatterns) {\n  const match = mistralContent.match(pattern);\n  if (match) {\n    justification = match[1].trim();\n    console.log('📋 Justification extraite:', justification);\n    break;\n  }\n}\n\n// Extraction CONFIANCE\nconst confidencePatterns = [\n  /CONFIANCE:\\s*([0-9.]+)/i,\n  /CONFIDENCE:\\s*([0-9.]+)/i\n];\n\nfor (const pattern of confidencePatterns) {\n  const match = mistralContent.match(pattern);\n  if (match) {\n    confidence = parseFloat(match[1]);\n    console.log('📊 Confiance extraite:', confidence);\n    break;\n  }\n}\n\n// Validation cohérence\nconst isValid = classification === 'VALIDE';\nconst expectedClassification = originalOffer.preliminary_analysis.expected_mistral_classification;\nconst isCorrectPrediction = classification === expectedClassification;\nconst finalConfidence = classification !== 'INCERTAIN' ? Math.max(confidence, 0.8) : 0.3;\n\n// Vérification supplémentaire pour alternance cybersécurité\nconst isAlternanceContract = ['apprentissage', 'alternance', 'professionnalisation']\n  .some(type => originalOffer.contract_type.toLowerCase().includes(type));\n\nconst isCyberSecurity = ['cyber', 'sécurité', 'security', 'soc', 'pentest']\n  .some(keyword => \n    (originalOffer.title + ' ' + originalOffer.description).toLowerCase().includes(keyword)\n  );\n\nconst isAlternanceCybersecurity = isAlternanceContract && isCyberSecurity;\n\nconsole.log(`🎯 Classification finale: ${classification}`);\nconsole.log(`📊 Offre valide: ${isValid}`);\nconsole.log(`✅ Prédiction correcte: ${isCorrectPrediction}`);\nconsole.log(`📊 Confiance finale: ${finalConfidence}`);\nconsole.log(`🎓 Alternance Cybersécurité: ${isAlternanceCybersecurity}`);\n\n// RÉSULTAT FINAL STRUCTURÉ\nconst finalResult = {\n  // Identifiants offre\n  offer_id: originalOffer.id,\n  title: originalOffer.title,\n  company: originalOffer.company,\n  contract_type: originalOffer.contract_type,\n  location: originalOffer.location,\n  duration: originalOffer.duration,\n  salary_range: originalOffer.salary_range,\n  url: originalOffer.url,\n  source_platform: originalOffer.source_platform,\n  \n  // Résultat classification Mistral\n  mistral_result: {\n    classification: classification,\n    justification: justification,\n    confidence: finalConfidence,\n    is_valid_offer: isValid,\n    expected_classification: expectedClassification,\n    is_correct_prediction: isCorrectPrediction,\n    processing_status: 'CLASSIFIED_SUCCESS'\n  },\n  \n  // Métadonnées techniques\n  technical_metadata: {\n    model_used: mistralResponse.model,\n    tokens_used: mistralResponse.usage,\n    raw_mistral_response: mistralContent,\n    classified_at: new Date().toISOString(),\n    processing_source: 'HelloWork_workflow'\n  },\n  \n  // Flags pour suite du traitement\n  is_alternance_cybersecurity: isAlternanceCybersecurity,\n  needs_manual_review: classification === 'INCERTAIN',\n  quality_score: finalConfidence\n};\n\nif (isValid) {\n  console.log('🎉 ✅ OFFRE VALIDÉE POUR ALTERNANCE CYBERSÉCURITÉ');\n} else {\n  console.log(`❌ OFFRE REJETÉE: ${justification}`);\n}\n\nreturn { json: finalResult };"
      },
      "id": "process-success",
      "name": "✅ Traiter Succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// TRAITEMENT ERREUR MISTRAL\nconst originalOffer = $('🎯 Préparer Mistral').item.json;\nconst errorData = $input.item;\n\nconsole.log(`❌ === ERREUR MISTRAL: ${originalOffer.title} ===`);\nconsole.log('🔍 Code erreur:', errorData.httpCode);\nconsole.log('📋 Message:', errorData.message);\n\n// Classification erreur\nlet errorType = 'UNKNOWN_ERROR';\nswitch(errorData.httpCode) {\n  case 401: errorType = 'AUTH_ERROR'; break;\n  case 422: errorType = 'VALIDATION_ERROR'; break;\n  case 429: errorType = 'RATE_LIMIT'; break;\n  case 500: errorType = 'SERVER_ERROR'; break;\n  default: errorType = 'NETWORK_ERROR';\n}\n\nconst errorResult = {\n  offer_id: originalOffer.id,\n  title: originalOffer.title,\n  company: originalOffer.company,\n  contract_type: originalOffer.contract_type,\n  source_platform: originalOffer.source_platform,\n  url: originalOffer.url,\n  \n  mistral_result: {\n    classification: 'ERREUR_API',\n    justification: `Erreur ${errorType}: ${errorData.message || 'Erreur inconnue'}`,\n    confidence: 0,\n    is_valid_offer: false,\n    processing_status: 'CLASSIFICATION_ERROR'\n  },\n  \n  error_details: {\n    error_type: errorType,\n    error_code: errorData.httpCode,\n    error_message: errorData.message,\n    error_timestamp: new Date().toISOString()\n  },\n  \n  is_alternance_cybersecurity: false,\n  needs_manual_review: true\n};\n\nconsole.log('📊 Erreur documentée');\nreturn { json: errorResult };"
      },
      "id": "process-error",
      "name": "❌ Traiter Erreur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🚀 Start": {
      "main": [
        [
          {
            "node": "⚙️ Config HelloWork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Config HelloWork": {
      "main": [
        [
          {
            "node": "🕷️ Scraper HelloWork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕷️ Scraper HelloWork": {
      "main": [
        [
          {
            "node": "🎯 Préparer Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Préparer Mistral": {
      "main": [
        [
          {
            "node": "🧠 API Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 API Mistral": {
      "main": [
        [
          {
            "node": "✅ Traiter Succès",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Traiter Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Traiter Succès": {
      "main": [
        [
          {
            "node": "🔍 Filtrer Valides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Traiter Erreur": {
      "main": [
        [
          {
            "node": "🔍 Filtrer Valides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filtrer Valides": {
      "main": [
        [
          {
            "node": "✅ Formater Offres Retenues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Formater Offres Rejetées",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "workflow-hellowork-cybersecurite"
  },
  "tags": [
    "alternance",
    "cybersecurite",
    "hellowork",
    "mistral"
  ]
}